<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/car_rental_details.css">

    <title>Responsive Regisration Form </title>
</head>

<body>
    <div class="container">
        <header>Car Rental Booking Form</header>

        <form action="#">
            <div class="form first">

                <div class="details ID">
                    <span class="title">Car Details</span>

                    <div class="fields">
                        <div class="car_image">
                            <img src="/Upload/<%= getData.carRental_id.image %>" height="150px">
                        </div>
                        <div class="input-field">
                            <label>Car Name</label>
                            <p><%= getData.carRental_id.car_name %></p>
                        </div>

                        <div class="input-field">
                            <label>Range of People</label>
                            <p> <%= getData.carRental_id.range_of_people %></p>
                        </div>

                        <div class="input-field">
                            <label>Car Type</label>
                            <p><%= getData.carRental_id.car_type %></p>
                        </div>

                        <div class="input-field">
                            <label>Car From:</label>
                            <p><%= getData.carRental_id.from %></p>
                        </div>

                        <div class="input-field">
                            <label>Car Price</label>
                            <p><%= getData.carRental_id.price %></p>
                        </div>

                        <div class="input-field">
                            <label>Discount</label>
                            <p><%= getData.carRental_id.discount %></p>
                        </div>

                        <div class="input-field">
                            <label>Rent Out Date:</label>
                            <p><%= package1.rent_out_days %></p>
                        </div>

                        <div class="input-field">
                            <label>Rent Out Days:</label>
                            <p><%= package1.rent_out_days %></p>
                        </div>

                        
                    </div>
                </div>



                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <p><%= package1.firstName %><%= package1.firstName %></p>
                        </div>

                        <div class="input-field">
                            <label>Mobile Number</label>
                            <p><%= package1.mobile_no %></p>
                        </div>

                        <div class="input-field">
                            <label>CNIC No:</label>
                            <p><%= package1.cnic_no %></p>
                        </div>

                        <div class="input-field">
                            <label>Need Driver:</label>
                            <p><%= package1.city %></p>
                        </div>

                        <div class="input-field">
                            <label>City:</label>
                            <p><%= package1.city %></p>
                        </div>

                        <div class="input-field">
                            <label>Postal Code:</label>
                            <p><%= package1.postal_code %></p>
                        </div>

                        <div class="input-Address">
                            <label>Address:</label>
                            <p><%= package1.adress %></p>
                        </div>
                    </div>

                    <button class="nextBtn">
                        <span class="btnText">Back</span>
                    </button>
                </div>
                
            </div>
        </form>
    </div>
</body>

</html>