<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/car_rental_details.css">
   

    <title>FarmHouse Details </title>
</head>

<body>
    <div class="container">
        <header>FarmHouse Booking Details</header>

        <form action="#">
            <div class="form first">

                <div class="details ID">
                    <span class="title">FarmHouse Details</span>

                    <div class="fields">
                        <div class="car_image input-field">
                            <img src="/Upload/<%= package1.image %>" height="200px">
                        </div>
                        <div class="input-field">
                            <label>Flat Name</label>
                            <p><%= package1.farm_name %></p>
                        </div>

                        <div class="input-field">
                            <label>Farm Location </label>
                            <p><%= package1.farm_location %></p>
                        </div>
                        <div class="input-field">
                            <label>Farm Area </label>
                            <p><%= package1.area %></p>
                        </div>
                        <div class="input-field">
                            <label>Farm width </label>
                            <p><%= package1.width %></p>
                        </div>
                        <div class="input-field">
                            <label>Farm length </label>
                            <p><%= package1.length %></p>
                        </div>

                        <div class="input-field">
                            <label>Number of Bed Rooms</label>
                            <p><%= package1.number_of_bed_rooms %></p>
                        </div>

                        <div class="input-field">
                            <label>Number of other Rooms</label>
                            <p><%= package1.number_of_other_rooms %></p>
                        </div>
                        <div class="input-field">
                            <label>Number of Kitchens</label>
                            <p><%= package1.number_of_kitchens %></p>
                        </div>
                        <div class="input-field">
                            <label>Price</label>
                            <p><%= package1.price %></p>
                        </div>
                        
                        <div class="input-field">
                            <label>Discount:</label>
                            <p><%= package1.discount %></p>
                        </div>
                       
                    </div>
                </div>

                <div class="input-field_1">
                    <label>Services For Flat:</label>
                    <% for (let i = 0; i < package1.service_type.length; i++) { %>
                        <ol>
                            
                            <li> <%= package1.service_type[i] %></li>
                            
                        </ol>
                        <% } %>
                </div>
                <div class="input-field_1">
                    <label>Essentials For Flat:</label>
                    <% for (let i = 0; i < package1.essentials_type.length; i++) { %>
                        <ol>
                            
                            <li> <%= package1.essentials_type[i] %></li>
                            
                        </ol>
                        <% } %>
                </div>
                <button class="nextBtn">
                    <span class="btnText">Back</span>
                </button>
            </div>
        </form>
    </div>
</body>

</html>