<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon link -->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <!-- CSS Links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--Style sheet css-->
    <link rel="stylesheet" href="/css/frontend/Style.css">

    <!-- Title of page -->
    <title>Hotel View</title>

</head>

<body>
    <!-- Header section -->
    <%- include('header') %>

    <!-- main section start here -->
    <div class="mainClass">
        <div class="image-grid">
           
                <img src="/Upload/<%= package1.image %>" height="200px">
   
                
        </div>
        <div>
            <h3>
                <%= package1.hotel_name %>
            </h3>
            <h5><img src="Images/crop.jpeg" width="17px" alt=""><span><%= package1.hotal_location %></span></h5>
            
        </div>

        <hr class="low_nav">

        <!-- Hotel discription section -->
        <section class="car_main">
            <section class="Car_discription">
                <div class="Car_dis" id="Hotel_dis">
                    <h1>Why Choise Us!!</h1>
                    <p><%= package1.description %>
                    </p>
                    <p>
                        <%= package1.menu %>
                    </p>
                </div>
                <div class="C_price_table">
                    <table id="C_price_table">
                        <tr>
                            <th colspan="3">PRICE DETAILS</th>
                          </tr>
                        <tr>
                          <td class="bolde">Room Type</td>
                          <td class="bolde">Price for 24h</td>
                          <td class="bolde">Discount Price</td>
                        </tr>
                        <tr>
                          <td><%= package1.hotel_type %></td>
                          <td><%= package1.price %></td>
                          <td><%= package1.discount %></td>
                        </tr>
                        <tr>
                            <td>Double Bed</td>
                            <td>1200</td>
                            <td>2800</td>
                        </tr>
                        <tr>
                            <td>Double Bed + Sofa</td>
                            <td>1200</td>
                            <td>2800</td>
                        </tr>
                        <tr>
                            <td>Triple Bed</td>
                            <td>1200</td>
                            <td>2800</td>
                        </tr>
                        <tr>
                            <td>Triple Bed + Sofa</td>
                            <td>1200</td>
                            <td>2800</td>
                        </tr>
                      </table>
                </div>
            </section>
            



            <!-- Rules to Hotel Booking -->
            <section class="car_box">
                <section class="Car_rules h-50">
                    <h2>Rules For Hotels</h2>
                    <ol>
                        <% if (package1.rules === 'on') { %>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>We are not responsible for your luggage protection</li>  <% } %>
                        <li><%= package1.newRule %> </li>
                    </ol>
                </section>

                <!-- Services of Hotel -->
                <section class="Car_services h-50">
                    <h2>Services we provide</h2>
                    <% for (let i = 0; i < package1.service_type.length; i++) { %>
                        <ol>
                            
                            <li> <%= package1.service_type[i] %></li>
                            
                        </ol>
                        <% } %>
                </section>
            </section>
        </section>
        <section id="Book_car">
            <button><a href="/hotel-booking-form/<%= package1._id %>">BOOK NOW</a> </button>
        </section>
</body>
</body>

</html>